*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.home{
    background-image: url("img/background-inicio.jpg");
    
    width:100%;
    
    background-size: cover;
    overflow: hidden;
}


/*logo*/
.logohome{
    text-align: center;
}

.logohome img{
    width: 400px;
    height: 70px;
    margin: 30px 70px;
    float: left;
}
/*Box-login*/

.container{
    width: 800px;
    height: 400px;
    margin: 200px 350px;
}

.container .login img{
    width: 100px;
    position: relative;
    top: -60px;
    padding-left: 100px;
    background-position: center;
}

.container .login{
    width: 300px;
    height: 320px;
    float: left;
    background:  rgba(0,0,0, .5);  
    border-radius: 20px 0px 0px 20px;
}

.login .textlogin{
    margin-top: -50px;
}

/*login letra*/
.container .login h3{
    color: #ffffff;
    top: 70px;
    text-align: center;
}
.container .login h4{ 
    color: #ffffff;
    margin: 10px 60px;
}

.container .login input{
    width: 170px;
    height: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    margin: 5px 60px;
    color: #ffffff;
}
.login input[type=text]{
    padding-left: 20px;
}

.login i{
    margin-left: 60px;
    position: relative;
    top: -25px;
    left: 5px;
}
.login #buttonenter{
    background-color: #FFE521;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin: 5px 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.container .information{ 
    width: 340px;
    height: 320px;
    float: left; 
    background: rgba(241, 237, 16, 0.733);
    border-radius: 0px 20px 20px 0px;
}

.container .information p{
    line-height: 30px; 
    text-align: justify;
    padding: 50px 30px;
}
 /*hasta aqui es todo el css de index.html, en donde se encuentra el login*/

    @media screen and (min-width:480px) and (max-width:780px){
        .home{
            background-image: url("img/background-inicio.jpg");
            
            width: 80%;
            
            background-size: cover;
            overflow: hidden;
        }
        
    }/*
        .logohome img{
            width:200px;
            height: 35px;
            margin: 15px 35px;
        }
        .container{
            width: 400px;
            height: 200px;
            margin: 100px 175px;
        }
        .container .login img{
            width: 50px;
            top:-30px;
            padding-left: 50px;
        }
        .container .login{
            width: 150px;
            height: 160px;

        }*/
        /*
        .login .textlogin{
            margin-top: -25px;
        }
        .container .login h3{
            top: 35px;
        }
        .container .login h4{
            margin: 2.5px 30px;
        }
        .container .login input{
            width: 85px;
            height: 10px;
            border-bottom: 1px solid #ffffff;
            margin: 5px 30px
        }
        .login input[type=text]{
            padding-left: 10px;
        }
        .login i{
            margin: 30px;
            top: -12.5px;
            left: 2.5px;;
        }
        .login #buttonenter{
            font-size: 7.5px;
            width: 50px;
            height: 15px;
            margin: 2.5px 50px;

        }
    
        .container .information{
            width: 170px;
            height: 160px;

        }
        .container .information p{
            line-height: 15px;
            text-align: justify;
            padding: 25px 15px;
        }*/
    }


    @media screen and (max-width:400px){

        .home{
            width: 70%;
        }
    }
